# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# pipenv
Pipfile.lock

# pyenv
.python-version

# poetry
poetry.lock

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Mac trash
.Trashes
*.swp
*.swo

# Linux trash
*.~lock.*
.nfs*

# Editor files
*.swp
*.swo
*~
.project
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Other
__pypackages__/
